.nav {
	position: relative;
	display: flex;
	align-items: center;

	.menu-burger {
		position: absolute;
		right: 0;
		width: 8%;
		cursor: pointer;
		transition: visibility 0s, opacity 0.5s linear;

		&.open {
			visibility: hidden;
		}
	}

	.main-nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		padding: 2em 0;
		width: 100%;
		min-height: 50vh;
		cursor: pointer;
		list-style-type: none;
		background-color: rgba(255, 255, 255, 0.9);
		transform: translateY(-100%);
		transition: transform 0.3s cubic-bezier(0, 0.1, 0, 0.8);

		&.open {
			transform: translateY(0);
		}

		.nav-item {
			margin-bottom: 1em;
		}

		.nav-item_link:not(.btn) {
			text-decoration: none;
			color: #000;
			font-weight: 700;
			font-size: 1.3rem;
		}
	}
}
