.nav {
  position: relative;
  display: flex;
  align-items: center;
}

.nav .menu-burger {
  position: absolute;
  right: 0;
  width: 6%;
  cursor: pointer;
  transition: visibility 0s, opacity 0.5s linear;
}

.nav .menu-burger.open {
  visibility: hidden;
}

.nav .main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2em 0;
  width: 100%;
  min-height: 50vh;
  cursor: pointer;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateY(-100%);
  transition: transform 0.3s cubic-bezier(0, 0.1, 0, 0.8);
}

.nav .main-nav.open {
  transform: translateY(0);
}

.nav .main-nav .nav-item {
  margin-bottom: 1em;
}

.nav .main-nav .nav-item_link:not(.btn) {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.3rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  transition: 0.3s;
}

a:hover {
  opacity: 80%;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #4f4f4f;
}

img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .menu-burger {
    display: none;
  }
  .nav {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav .main-nav {
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(0);
    transition: none;
    background-color: transparent;
    width: auto;
    height: auto;
    min-height: 0;
    padding: 0;
  }
  .nav .main-nav .nav-item + .nav-item {
    margin-left: 1.5em;
  }
  .nav .main-nav .nav-item {
    margin-bottom: 0;
  }
  .hero > img {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  .two-col {
    display: flex;
    justify-content: space-between;
  }
  .two-col .two-col_text {
    width: 50%;
  }
  .two-col .two-col_image {
    align-self: flex-start;
    width: 45%;
  }
  .section_2 .two-col {
    flex-direction: row-reverse;
  }
  .footer > .row {
    display: flex;
    justify-content: space-between;
  }
  .footer > .row .footer-about {
    width: 50%;
  }
  .footer > .row .footer-menu_all {
    width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .nav .logo {
    width: 20%;
  }
  .row {
    display: flex;
  }
  .hero {
    flex-direction: row-reverse;
  }
  .hero .hero-text {
    width: 50%;
  }
  .hero .hero-image {
    width: 45%;
    align-self: flex-start;
  }
  .footer > .row .footer-about {
    width: 40%;
  }
  .footer > .row .footer-menu_all {
    width: 55%;
    display: flex;
  }
  .footer > .row .footer-menu_all .footer-menu {
    width: 100%;
  }
  .footer > .row .footer-menu_all .footer-menu .col {
    width: 100%;
  }
}

.signup-body {
  background: linear-gradient(90deg, #fdfcf9, #f7ebf9 5%, #f7ebf9 95%, #fdfcf9);
}

.signup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
}

.signup-header .home-link {
  text-decoration: none;
}

.signup-header .home-link_container {
  display: flex;
  align-items: center;
}

.signup-header .home-link_container .back-button {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #cecece;
  align-self: center;
  display: flex;
  padding: 0.6em 1em;
  cursor: pointer;
}

.signup-header .home-link_container .back-button .arrow {
  align-self: center;
  justify-self: center;
}

.signup-header .home-link_container p {
  display: none;
  margin: 0 0 0 0.5em;
  font-weight: 700;
  color: #000;
}

.signup-section {
  padding-top: 0;
}

.signup-section .signup-text {
  padding-bottom: 1.5em;
}

.signup-section .signup-text h2 {
  padding-bottom: 1em;
}

.signup-section .signup-text .signup-list {
  display: flex;
  align-items: flex-start;
}

.signup-section .signup-text .signup-list .emoji {
  font-size: 2rem;
}

.signup-section .signup-text .signup-list .signup-item {
  margin: 0 0 0 0.5em;
  padding-bottom: 1em;
  color: #000;
}

.signup-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 2.5em;
}

.signup-form > h3 {
  padding-bottom: 1.5em;
}

.signup-form form label {
  font-weight: 700;
}

.signup-form form > * {
  margin-bottom: 1.5em;
}

.signup-form form .text-input {
  width: 100%;
  padding: 1em;
  border-radius: 3px;
  border: 1px solid #cecece;
}

.signup-form form .toc-container {
  display: flex;
}

.signup-form form .toc-container .toc-text {
  width: 90%;
  font-weight: 400;
  margin-left: 1em;
}

.signup-form .submit-btn {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  margin-bottom: 0;
  width: 100%;
}

.signup-form .submit-btn:hover {
  opacity: 80%;
}

@media screen and (min-width: 768px) {
  .signup-body .signup-header p {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .signup-body .signup-header .logo {
    width: 20%;
  }
  .signup-section {
    padding: 0;
  }
  .signup-text {
    padding: 2.5em 0 0 0;
    width: 55%;
    margin: 0;
  }
  .signup-form {
    align-self: flex-start;
    width: 45%;
    margin-left: 3em;
  }
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 30%;
}

section,
.footer {
  padding: 2.5em 0;
}

.btn {
  display: inline-block;
  background-color: #664efc;
  color: #fff;
  padding: 1em 1.2em;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
}

.btn .bold-accent {
  font-weight: 700;
}

.accent-text {
  color: #664efc;
  font-weight: 700;
}

.section_1 {
  background: linear-gradient(120deg, #ecccf7 5%, 10%, #fdfcf9 40%);
}

.hero {
  padding-top: 2.5em;
}

.hero .hero-text .title {
  margin-top: 0.7em;
  line-height: 1;
}

.hero .hero-text img {
  display: block;
  width: 62%;
}

.hero .hero-text .btn {
  margin-bottom: 2em;
}

.section_2 img,
.section_3 img {
  padding-bottom: 2.5em;
}

.action-link {
  display: inline-block;
  color: #664efc;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
}

.footer {
  background-color: #fdfcf9;
}

.footer .footer-about {
  padding-bottom: 3.5em;
}

.footer .footer-about .footer-title {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.footer .footer-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.8em;
}

.footer .footer-menu .col {
  width: 45%;
}

.footer .footer-menu .col .footer-nav {
  list-style-type: none;
  padding: 0;
}

.footer .footer-menu .col .footer-nav .footer-nav_item {
  padding: 0.5em 0;
}

.footer .footer-menu .col .footer-nav .footer-nav_item .footer-nav_link {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 1.3rem;
}
/*# sourceMappingURL=main.css.map */